body {
  background-color: #000;
}

.Weather {
  margin: 5rem auto;
  font-family: arial, sans-serif;
  color: #2b2222;
  border: 4px solid #dadde1;
  max-width: 800px;
  padding: 30px 20px;
  border-radius: 5px;
  background: rgb(173, 227, 228);
  background: linear-gradient(
    90deg,
    rgba(173, 227, 228, 1) 0%,
    rgba(232, 250, 156, 1) 50%,
    rgba(222, 184, 220, 1) 100%,
    rgba(42, 0, 255, 1) 100%
  );

  text-shadow: 0 0 1px #ffffff;
}

.Weather form {
  margin-bottom: 1.5rem;
}

.Weather h1 {
  font-size: 35px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  line-height: none;
  font-weight: 100;
  font-size: 20px;
}

.Weather canvas {
  position: relative;
  top: 12px;
}

.temperature {
  font-size: 3rem;
  color: #2b2222;
  margin-left: 10px;
}

.unit {
  color: #8a9f88;
  position: relative;
  top: -24px;
  font-weight: 700;
}

.unit a {
  color: #8a9f88;
  text-decoration: none;
}

.unit a:hover {
  color: #deb8dc;
}

.desc {
  text-transform: capitalize;
}
